@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@keyframes moveStars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, -200px);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotateGradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorShift {
  0% { background-color: #6366f1; }
  50% { background-color: #3b82f6; }
  70% { background-color: #6366f1; }
}